[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim
[submodule "bundle/ale"]
	path = bundle/ale
	url = git@github.com:w0rp/ale
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/vim-js-pretty-template"]
	path = bundle/vim-js-pretty-template
	url = git@github.com:Quramy/vim-js-pretty-template
[submodule "bundle/vim-jsonnet"]
	path = bundle/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
