[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
        ignore = untracked
[submodule "bundle/vim-figutive"]
	path = bundle/vim-figutive
	url = git://github.com/tpope/vim-fugitive.git
        ignore = untracked
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
        ignore = untracked
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = git://github.com/scrooloose/nerdcommenter.git
        ignore = untracked
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = git://github.com/scrooloose/nerdtree.git
        ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
        ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
        ignore = untracked
[submodule "bundle/vim-ack"]
	path = bundle/vim-ack
	url = git://github.com/mileszs/ack.vim.git
        ignore = untracked
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
        ignore = untracked
